/*Deisigned to mobile screen size of 375px x 675px */

@font-face {
    font-family: 'InterBold';
    src: url(../font/Inter-bold.ttf);
}

@font-face {
    font-family: 'InterLight';
    src: url(../font/Inter-light.ttf);
}

@font-face {
    font-family: 'InterMedium';
    src: url(../font/Inter-medium.ttf);
}

body {
    background: url(../img/pattern-bg.svg) 25px 25px / 325px 325px no-repeat, 
    url(../img/pattern-quotes.svg) 160px 380px / 60px no-repeat, 
    url(../img/pattern-curve.svg) 0 600px / 300px no-repeat;
    font-family: 'InterLight', Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

#top {
    padding-top: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

#tanya {
    border-radius: 5px;
    height: 265px;
    left: 60px;
    position: absolute;
    top: 56px;
    width: 255px;
}

#buttons {
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    text-align: center;
    top: 302px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

#previous {
    height: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-right: 25px
}

.previous {
    background-color: #fff;
}

#next {
    height: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.next {
    background-color: #fff;

}

#bottom {
    font-size: 18px;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.name {
    font-family: 'InterBold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.title {
    color: #d3d3d3;
    font-family: 'InterBold', Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/* Responsive size designed to desktop size of 1440px