@font-face {
    font-family: 'InterBold';
    src: url(../font/Inter-bold.ttf);
}

@font-face {
    font-family: 'InterLight';
    src: url(../font/Inter-light.ttf);
}

@font-face {
    font-family: 'InterMedium';
    src: url(../font/Inter-medium.ttf);
}

body {
    font-family: 'InterLight', Arial, Helvetica, sans-serif;
    margin-left: 0;
}

#top {
    position: relative;
}

#tanya {
    border-radius: .5rem;
    position: absolute;
    top: 1.75rem;
    width: 67%;
    display: block;
    left: 0;
    margin: auto;
    right: 0;
}

#pattern1 {
    display: block;
    margin: 1.5rem auto 0 auto;
    width: 85%;
}

#pattern2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 20%;
}

p {
    font-size: 1.2rem;
    margin-top: -1.5rem;
    padding: 0 1.1rem;
    text-align: center;
}

.name {
    color: hsl(240, 38%, 20%);
    font-family: 'InterBold', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

.title {
    color: hsl(240, 18%, 77%);
    font-family: 'InterBold', Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

#pattern3 {
    bottom: -100;
    position: absolute;
    width: 75%;
}